div(class="card-image")
    img(src=data.sprites.other.dream_world.front_default)
    span(class=card-title) #{data.name} #{data.id}
    div(class="card-content")
       table
        tbody
            tr
                td Height
                td #{data.height}
            tr
                td Weight
                td #{data.weight}