div(id="pokemon-list") 
  h1 Count of the Pokemen!
   p= data.count
table
  thead
    tr
      th Name
      th URL 
  tbody
    each result in data.results
      tr
        td= result.name
        td
          a(href=result.url)= result.url
if data.previous
  a(href=convertUrl(data.previous) hx-boost='true' hx-target='#pokemon-list') Previous
if data.next 
  a(href=convertUrl(data.next) hx-boost='true' hx-target='#pokemon-list') Next