div(id="pokemon-list")
  h1 Exploring #{data.count} Pokemen!
  p(class="button-container")
    if data.previous
      button(hx-get=convertUrl(data.previous) hx-target='#pokemon-list' class='prev-button') Previous
    else
      button(disabled class='prev-button') Previous
    if data.next 
      button(hx-get=convertUrl(data.next) hx-target='#pokemon-list' class='next-button') Next
    else
      button(disabled class='next-button') Next
  table
    thead
      tr
        th Name
        th URL 
    tbody
      each result in data.results
        tr
          td= result.name
          td
            a(href=result.url)= result.url